.react-date-picker {
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + .75rem + 2px);
  color: rgb(73,80,87);
  background-clip: padding-box;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}

.react-date-picker__wrapper {
  border: none !important;
}


.MuiPaper-root {
  border: 1px solid #000;
}

.MuiAccordionDetails-root {
  border-top: 1px solid #000;
}


.list-task form {
  width: 100%;
}

.list-task form .due-date {
  display: block;
}
